* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0.8);
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: #cdd6f4;
    border: 2px solid transparent;
}

#workspaces button.active {
    background: #cba6f7;
    color: #1e1e2e;
    border-radius: 8px;
}

#workspaces button:hover {
    background: #585b70;
    border-radius: 8px;
}

#custom-menu, #network, #pulseaudio, #pulseaudio#microphone, #clock, #custom-keyboard {
    padding: 0 12px;
    margin: 0 3px;
    background: #1e1e2e;
    border-radius: 8px;
}

#custom-cava {
    padding: 0 12px;
    margin: 0 3px;
    background: transparent;
    font-family: "Monospace";
}
#tray {
    padding: 0 12px;
    margin: 0 3px;
    background: #1e1e2e;
    border-radius: 8px;
}
